<div class="row grey_bg">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 signupform">
    <div class="signupform-h1 text-center"><h1>Sign up for free today!</h1></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>


      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Do you have a company name?" data-content="People will remember you by your company." data-trigger="focus" >
         <%= f.text_field :company, class: "form-control addjob-mtop", placeholder: "The world's best company", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Keep it real!" data-content="Please ensure this is a valid email. This is the email we will be sending important information to." data-trigger="focus" >
         <%= f.email_field :email, class: "form-control addjob-mtop", placeholder: "email address", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="We need your phone number?" data-content="We use this phone number to connect you with your prospects." data-trigger="focus" >
         <%= f.text_field :phone, class: "form-control addjob-mtop", placeholder: "0400000000", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Stronger the better" data-content="USe a mix of capital letters and symbols. That will keep you safe." data-trigger="focus" >
         <%= f.password_field :password, autocomplete: "off", class: "form-control addjob-mtop", placeholder: "Password", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="One more time" data-content="You've done it before, let's see it again. Just to make sure you typed it all correctly." data-trigger="focus" >
         <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control addjob-mtop", placeholder: "Repeat Password", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

<div class="marg-auto">  
<h3>I want to</h3>     
    <div class="btn-group" data-toggle="buttons">   
      <label class="btn btn-signup active btn-lg">
        <%= f.radio_button :is_tradie, "0", autocomplete: "off", checked: "checked" %>
        HIRE
      </label>

      <label class="btn btn-signup btn-lg ">
      <%= f.radio_button :is_tradie, "1", autocomplete: "off" %>
        WORK
      </label>
    </div>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="actions">
        <%= f.submit "Sign up", class: "btn-block btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
    <% end %>
    <div class="text-center signup-terms">
By registering you confirm that you accept the <br /><a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>