
<div class="container">
<%= render 'layouts/dashboard_sidebar' %>
<div class="col-md-9 col-sm-12 nopadding">
	<div class="inbox-head">
		<h3>Communication Dashboard</h3>
	</div>
	<div class="inbox-body">
		<div class="mail-option">
<h1>New Conversation</h1>

<h3>I am <%= current_user.firstname %></h3>

<%= form_tag conversations_path, method: :post do %>

<div>
	<%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :firstname) %>
</div>

<div>
	<%= text_field_tag :subject, nil, placeholder: "Subject" %>
</div>

<div>
	<%= text_area_tag :body, nil, placeholder: "Leave a comment" %>
</div>

<%= submit_tag %>

<% end %>

		</div>
		
	</div>
</div>
</div>
</div>
</div>
