<div class="container">
<%= render 'layouts/dashboard_sidebar' %>
<div class="col-md-9 col-sm-12 nopadding">
	<div class="inbox-head">
		<h3>Communication Dashboard</h3>
	</div>
	<div class="inbox-body">
		<div class="mail-option">
<h1><%= @conversation.subject %></h1>

<%= @conversation.receipts_for(current_user).each do |receipt| %>
	<div>
	<%= receipt.message.sender.firstname %><br />
	Commented: <%= receipt.message.body %>
	</div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>

<div>
	<%= text_area_tag :body %>
	
</div>

<%= submit_tag %>

<% end %>
		</div>
		
	</div>
</div>
</div>
</div>
</div>
