<% @proposals.each do |proposal| %>
	<div class="row job-joblisting">
		<div class="col-md-1">
			<%= image_tag proposal.user.avatar.url(:thumb), size: "50" %>
		</div>
		<div class="col-md-8">
			<span class="job-joblisting-desc-name"><%= proposal.user.firstname%> <%= proposal.user.lastname%></span><br />
			<div class="job-joblisting-desc">
				<% if @job.user == current_user %>
				<div class="oneliner"><%= proposal.one_liner %></div><br />
				<%= proposal.description %><br />
				<% end %>
				<small>Posted on: <%= proposal.created_at.strftime("%d of %B %Y") %></small>
			</div>
		</div>
		<div class="col-md-3 text-right">
			<div class="job-joblisting-price">
				<%= number_to_currency(proposal.bid, precision: 0) %> <small><% if @job.price_per_hour %>per hour<% else %>Total<% end %></small>
			</div>
			<% if @job.user == current_user && @job.open == true %>
				<%= form_for @job, method: :put do |f| %>
					<%= f.hidden_field :awarded_proposal, value: proposal.id %>
					<%= f.hidden_field :award_user, value: proposal.user_id %>
					<%= f.hidden_field :open, value: false %>
					<%= f.submit "Award Job", class: "btn btn-success" %>
				<% end %>
			<% end %>

			<% if @job.user == current_user && @job.open == false %>
				<%= form_for @job, method: :put do |f| %>
					<%= f.hidden_field :awarded_proposal, value: proposal.id %>
					<%= f.hidden_field :award_user, value: proposal.user_id %>
					<%= f.submit "Change Winner", class: "btn btn-success" %>
				<% end %>
			<% end %>
		</div>
	</div>
	

		<% if current_user %>
		<div class="row job-ratings">
			<div class="col-md-3">Skill <%= rating_for proposal.user, "skill" %></div>
			<div class="col-md-3">Reliability <%= rating_for proposal.user, "reliability" %></div>
			<div class="col-md-3">Professionalim <%= rating_for proposal.user, "professionalism" %></div>
			<div class="col-md-3">Value for Money <%= rating_for proposal.user, "value" %></div>
		</div>
		<% end %>
<% end %>
