<div class="row bg-grey myjobs">
	<div class="container">
		<div class="row">
			<div class="col-md-4"><%= render('dashmenu') %></div>
			<div class="col-md-8">
				<div class="myjobs-list">
					<div class="welcome-dash">Welcome to your dashboard, this is where all your open jobs are listed. You can edit or delete your jobs by using the red or green buttons. Alternatively, you can view your jobs by clicking on the title.</div>
					<div class="joblisting-header row">
						<div class="col-md-1 text-center">Status</div>
						<div class="col-md-3 text-center">Job Title</div>
						<div class="col-md-2 text-center">Proposals</div>
						<div class="col-md-2 text-center">Started</div>
						<div class="col-md-2 text-center">Budget</div>
						<div class="col-md-2"></div>
					</div>

					<% @jobs.each do |job| %>
					
					<div class="row joblisting">
						<div class="col-md-1">
							<div class="job-cont-details text-center">
								<% if job.open == true %>
									<div class="job-open">OPEN</div>
								<% else %>
									<div class="job-closed ">CLOSED</div>
								<% end %>
							</div>
						</div>
						<div class="col-md-3">
							<div class="joblisting-budget text-center"><%= link_to job.name, job %></div>

						</div>
						<div class="col-md-2 text-center">
							<div class="joblisting-proposals"><%= job.proposals.count %></div>
						</div>
						<div class="col-md-2 text-center">
						<div class="joblisting-time"><span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(job.created_at) + " ago" %> </div>
						</div>
						<div class="col-md-2 text-center">
							<div class="joblisting-budget"><%= number_to_currency(job.budget, precision: 0)  %></div>
						</div>
						<div class="col-md-2 joblisting-budget ">
						<%= link_to "Edit", edit_job_path(job), class: "btn btn-success btn-xs" %>
						<%= link_to "Delete", job, method: :delete, data: {confirm: "Are you sure you want to delete this job?"}, class: "btn btn-danger btn-xs" %>
			</div>
					</div>
					<% end %>	
				</div>

			</div>
		</div>
	</div>
</div>


