<div class="container">
	<div class="row">
	<h1>My Jobs</h1>
	<small class="pull-right"><%= @jobs.count %> Jobs in total</small>
	<table class="table table-stripped">
		<thead>
			<tr>
				<th class="text-center">Status</th>
				<th>Name</th>
				<th>Category</th>
				<th>Description</th>
				<th>Budget</th>
				<th class="text-center">Proposals</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<% @jobs.each do |job| %>
				<tr>
					<td>
						<% if job.open %>
							Open
						<% else %>
							Closed
						<% end %>
					</td>
					<td><%= link_to job.name, job %></td>
					<td><%= job.category.name %></td>
					<td><%= job.description %></td>
					<td><%= number_to_currency(job.budget, precision:0) %></td>
					<td><%= job.proposals.count %></td>
					<td><%= link_to "Edit", edit_job_path(job), class: "btn btn-success" %></td>
					<td><%= link_to "Delete", job, method: :delete, data: {confirm: "Are you sure you want to delete this job?"}, class: "btn btn-danger" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	</div>
</div>