<div class="container">
<%= render 'layouts/dashboard_sidebar' %>
<div class="col-md-9 col-sm-12 nopadding">
	<div class="inbox-head">
		<h3>My Tradies</h3>
	</div>
	<div class="inbox-body">


		<div class="myjobs-list">


		<% @award_users.each do |award| %>
			<div class="col-lg-4 col-sm-6 col-xs-12">

	            <div class="card hovercard">
	                <div class="cardheader">

	                </div>
	                <div class="avatar">
	                    <%= image_tag award.avatar.url(:medium), size: "100x100" %>
	                </div>
	                <div class="info">
	                    <div class="title">
	                        <%= link_to award.firstname + " " + award.lastname, trady_path(award.id) %><br />
	                        <span class="card_company">From <%= award.company %></span>
	                    </div>
	            
	                   
	                </div>
	                 <div class="card-phone">
	                 	<div class="row">
	                 		<div class="col-md-3 card-phone-icon">
	                 			<span class="glyphicon glyphicon-earphone" style="padding-left:12px;"><span>
	                 		</div>
	                 		<div class="col-md-9 card-phone-number">
	                 			<%= tel_to award.phone %>
	                 		</div>
	                 	</div>
	                 </div>
	                <div class="bottom">
	          
	                			<%= link_to "View Tradie Profile", trady_path(award.id) %>
	                	
	      <form id="contactform" role="form" action="#" method="POST">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type="submit" id="submitform" class="btn btn-default">Contact <%= award.firstname %></button>
          </form>


	           			</div>
	                </div>
	            </div>

	        </div>
		<% end %>	

	</div>
</div>


			
				
				
				
			

			


			
		
		</div>


	</div>
</div>
</div>
</div>
</div>