
  <div class="row add-new-job-header">
   <div class="container">
   <div class="col-md-9">
   <div class="add-new-job-header-h1"><h1>Adding a new job is simple...</h1></div>
   <div class="add-new-job-header-h2"><h2>It's also <span class="green-text">free</span> and only <span class="green-text">takes a couple of minutes</span></h2></div>
   </div>
   </div>
  </div>
  <div class="container">
    <div class="row addjob_container">
      <div class="col-md-7">
        
        <%= form_for @job do |f| %>

                  <div class="new-job-p1">
                    <div class="row">

                    <div class="col-md-12 form-group form-group-lg ">
                        <div class="addjob-step">1</div><%= f.label "What trade do you need?" %>

                        <div class="input-group">
                        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {}, class: "form-control addjob-mtop", placeholder: "Select a trade", id: "validate-text", required: true  %>
                         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
                        </div>

                    </div>

                    <div class="col-md-12 form-group form-group-lg">
                    <div class="addjob-step">2</div><%= f.label "Where is the job?" %>
                           <div class="input-group">
                           <%= f.text_field :location, class: "form-control addjob-mtop", placeholder: "Location e.g. Brisbane", id: "validate-text", required: true %>
                           <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
                           </div>
                    </div>

                      <div class="col-md-12  form-group form-group-lg">
                     <div class="addjob-step">3</div> <%= f.label "Give your job a title" %>
                        <div class="input-group" data-toggle="popover" title="Make it attractive" data-content="This is the first thing tradies will see. So make it descriptive" data-trigger="focus" >
                         <%= f.text_field :name, class: "form-control addjob-mtop", placeholder: "e.g. Electrician Contractor", id: "validate-text", required: true %>
                         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
                        </div>
                      </div>
                      <div class="col-md-12 form-group form-group-lg">

                      <div class="addjob-step">4</div><%= f.label "Tell us about your job" %>

                            <fieldset>

                            <div class="row add-checkbox">
                            <div class="col-xs-2">
                            <input type="checkbox" id="unchecked" class="cbx hidden"/>
                            <label for="unchecked" class="lbl"></label>
                            </div>
                            <div class="col-xs-10">
                            Prefer to pay by the hour
                             </div>
                             </div>
                           

                            <span class="myClass" style="display: none;">

                               <div class=" form-group form-group-lg">
                               <div class="input-group" data-toggle="popover" title="Be generous" data-content="The more attractive your budget the more proposals you'll receive. Often proposals will not exceed this figure."  data-trigger="focus">
                               <span class="input-group-addon dollar"><span class="glyphicon glyphicon-usd"></span></span>

                                <%= f.text_field :price_per_hour, class: "form-control addjob-mtop hourlyfee", placeholder: "How much are you willing to pay per hour?", disabled: true %>
                                </div>
                                </div>

                            </span>
                            </fieldset>

                           
                              <div class=" form-group form-group-lg flatfee">
                               <div class="input-group" data-toggle="popover" title="Be generous" data-content="The more attractive your budget the more proposals you'll receive. Often proposals will not exceed this figure."  data-trigger="focus">
                               <span class="input-group-addon dollar"><span class="glyphicon glyphicon-usd"></span></span>
                                <%= f.text_field :budget, class: "form-control addjob-mtop flatfee", placeholder: "What is your budget?" %>
                                
                                </div>
                                </div>
                         

                           <div class="row">   
                              <div class="col-md-6">
                              <div class="form-group form-group-lg">
                              <div class='input-group '>
                                <%= f.text_field :start_date, class: "form-control addjob-mtop", placeholder: "Start date", id: "from", required: true %>
                                <span class="input-group-addon danger"><span class="glyphicon glyphicon-calendar"></span></span>
                                
                              </div>
                              </div>
                               </div>

                              <div class="col-md-6">
                              <div class="form-group form-group-lg">
                              <div class='input-group'>
                                <%= f.text_field :end_date, class: "form-control addjob-mtop", placeholder: "Finish date", id: "to", required: true %>
                                <span class="input-group-addon danger"><span class="glyphicon glyphicon-calendar"></span></span>
                              </div>
                              </div>
                               </div>
                          </div>
                       
                       

                        <div class="input-group" data-validate="length" data-length="50" data-toggle="popover" title="It's all in the detail" data-content="Be as detailed as possible. Describe what your expectations are, who will be working on the job, start and finish times etc. This will help minimise disagreements when it comes to starting the work."  data-trigger="focus">
                        <%= f.text_area :description, class: "form-control addjob addjob-stop", placeholder: "Describe your job here...",  id: "validate-text", required: true %>
                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
                        </div>
                      </div>
                      <div class="col-md-12 form-group form-group-lg">
                        <div class="input-group" data-validate="length" data-length="50" data-toggle="popover" title="List everything" data-content="Enter all your requirements for this job. E.g. Your own transport and tools are required for this job. You will also need a valid whitecard and public liability insurance." data-trigger="focus">
                          <%= f.text_area :requirements, class: "form-control addjob addjob-mtop", placeholder: "Do you have any requirements? eg: All applicants must have their own tools and equipment.", id: "validate-text", required: true %>
                          <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
                        </div>
                      </div>

                      <div class="col-md-6 form-group pull-right">
                        <%= f.submit class: "btn btn_success" %>
                      </div> 
                    </div>
                  </div>

        <% end %>

      </div>
      <div class="col-md-5">asdasdas</div>
    </div>
  </div>
