<div class="row bg-grey">
<div class="search-top-spacer"></div>
	<div class="container">
		<%= render 'jobs/search_panel' %>
	</div>

	<div class="container">
		<div class="row search_results">
			<div class="col-md-6">
				<h1>Latest Jobs</h1>
			</div>
			<div class="col-md-6 ">
				<div class="dropdown pull-right sort_jobs">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropDownMenu1" data-toggle="dropdown">Sort By <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><%= link_to "Oldest", jobs_path(sort_by: "oldest") %></li>
						<li><%= link_to "Newest", jobs_path(sort_by: "newest") %></li>
						<li><%= link_to "Name", jobs_path(sort_by: "name") %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="joblisting-header row">
			<div class="col-md-7">Job Description</div>
			<div class="col-md-1 text-center">Proposals</div>
			<div class="col-md-2 text-center">Started</div>
			<div class="col-md-2 text-center">Budget (AUD)</div>
		</div>

		<% @jobs.each do |job| %>
		
		<div class="row joblisting">
			<div class="col-md-12">
				<div class="col-md-7">
					<div class="joblisting-title"><%= link_to job.name, job %></div>
					<div class="joblisting-subtitle ">
						<span class="glyphicon glyphicon-map-marker"></span> <%= job.location %>
					</div>
					<div class="joblisting-desc"></div>
					<div><%= h truncate(job.description, length:200) %></div>
				</div>
				<div class="col-md-1 text-center">
					<div class="joblisting-proposals"><%= job.proposals.count %></div>
				</div>
				<div class="col-md-2 text-center">
				<div class="joblisting-time"><span class="glyphicon glyphicon-time"></span> <%= time_ago_in_words(job.created_at) + " ago" %> </div>
				</div>
				<div class="col-md-2 text-center">
					<div class="joblisting-budget"><% if job.price_per_hour != nil %>
						<span class="job-price"><%= number_to_currency(job.price_per_hour, precision: 0) %></span><span class="job-price-sml"> /hour</span>
						<% else %>
						<span class="job-price"><%= number_to_currency(job.budget, precision: 0) %></span> <span class="job-price-sml"></span>
						<% end %></div>
				</div>
			</div>
		</div>
		
		<% end %>	
	</div>

	<div class="container">
		<div class="row pull-right">
		<%= paginate @jobs %>
		</div>
	</div>
</div>