<div class="row">
	<div class="col-md-12">
		<h1><%= @job.name %></h1>
		<div>Job Location: <%= @job.location %></div>
		<div>Job posted on: <%= @job.created_at.strftime("%d of %B %Y") %></div>
	</div>
	<div class="col-md-3">
		<div><%= number_to_currency(@job.budget, precision: 0) %></div>
	</div>
	<div class="col-md-6">
		<p><%= @job.description %></p>
	</div>
	<div class="col-md-3">
	<h2>Proposal</h2>
	</div>
</div>
