<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1><%= @job.name %></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div>Job Location: <%= @job.location %></div>
			<div>Category: <%= @job.category.name %></div>
			<div>Job posted on: <%= @job.created_at.strftime("%d of %B %Y") %></div>
			<div><%= number_to_currency(@job.budget, precision: 0) %></div>
		</div>
		<div class="col-md-6">
			<div>
				<h2>Job Descritpion</h2>
				<p><%= @job.description %></p>
				<hr />
				<h2>Others Requirements</h2>
				<ul>
					<% @job.skills.each do |skill| %>
						<li><%= skill.name %></li>
					<% end %>

				</ul>
			</div>
			<hr />

			<% if @awarded_proposal.present? %>
				<h2>Awarded Proposal</h2>
				<div class="row">
					<div class="col-md-9">
						<%= @awarded_proposal.user.firstname%> <%= @awarded_proposal.user.firstname%>
						<%= @awarded_proposal.description %><br />
						<small>Posted on: <%= @awarded_proposal.created_at.strftime("%d of %B %Y") %></small>
					</div>
					<div class="col-md-3">
						<%= number_to_currency(@awarded_proposal.bid) %>
					</div>
				</div>
					<hr />	
			<% end %>
			
			
			<% if @proposals.present? %>
				<% @proposals.each do |proposal| %>
					<div class="row">
						<div class="col-md-9">
							<%= proposal.user.firstname%> <%= proposal.user.firstname%><br />
							<%= proposal.description %><br />
							<small>Posted on: <%= proposal.created_at.strftime("%d of %B %Y") %></small>
						</div>
						<div class="col-md-3">
						<% if @job.user == current_user && @job.open == true %>
							<%= number_to_currency(proposal.bid) %>
							<%= form_for @job, method: :put do |f| %>
								<%= f.hidden_field :awarded_proposal, value: proposal.id %>
								<%= f.hidden_field :open, value: false %>
								<%= f.submit "Award Job", class: "btn btn-success" %>
							<% end %>
						<% end %>
						</div>

					</div>
					<hr />	
				<% end %>
			<% end %>
			

		</div>
		<% if user_signed_in? && @job.user != current_user && @job.open == true %>
		<div class="col-md-3">
		<strong>Proposal</strong>
			<div class="row">
				<div class="col-md-12">
					<%= form_for :proposal, url: job_proposals_path(@job) do |f| %>
						<%= f.hidden_field :user_id, value: current_user.id %>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">$</div>
									<%= f.text_field :bid, class: "form-control", placeholder: "What is your bid?" %>
								<div class="input-group-addon"> per hour</div>
							</div>				
						 </div>
					<div class="form-group">
					<%= f.text_area :description, rows: 5, class: "form-control", placeholder: "What's your sales pitch?" %>
					</div>
					<%= f.submit "Submit Sales Pitch", class: "btn btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
		<% elsif @job.user == current_user && @job.open == true  %>
			<div><h3>Boost This Job</h3></div>
		<% elsif @job.open == false  %>
			<div><h3>This job is closed</h3></div>
		<% else %>
		<div><h3>Sign in to apply</h3>
		<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary" %><br />
		Already a registered as a tradie? <%= link_to 'Login', new_user_session_path, class: "" %>
		</div>

		<% end %>
	</div>
</div>