
<div class="row bg-grey ">


		<div class="container job-top">
		<h1><%= @job.name %></h1>
		</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				 <div class="job-profile-image"><%= image_tag @job.user.avatar.url(:medium) %></div>
				 <div class="job-profile-details"><%= link_to @job.user.firstname + " " + @job.user.lastname, trady_path(@job.user.id) %></div>
				 <div class="job-profile-details"><p><i>"<%= @job.user.bio %>"</p></i> </div>
			</div>
			<div class="col-md-9">
			<div class="row">
				<div class="job-cont-top">
				<div class="row">
					<div class="col-md-9">
						<h2>Job Description</h2>
						<div class="job-cont-sub"><%= link_to @job.category.name, search_jobs_path(:utf8 => "true", :category => @job.category.id, :location => nil, :commit => "Search+Jobs") %> <%= time_ago_in_words(@job.created_at) + " ago" %></div>
						<div class="job-cont-desc"><p><%= @job.description %></p></div>

					</div>
					<div class="col-md-3 job-cont-details-cont">
					<h3>Others Requirements</h3>
				
						<p><strong>Days Required:</strong> <%= (@job.end_date - @job.start_date).to_i %></p>
						<p><strong>Start Date:</strong> <%= @job.start_date %></p>
						<p><strong>Finish Date:</strong> <%= @job.end_date %></p>
				</div>
				</div>
				<div class="job-cont-med">
					<div class="row">

						<div class="col-md-3 text-center">
							<div class="job-cont-details"><div>Location</div><%= link_to @job.location, search_jobs_path(:utf8 => "true", :location => @job.location, :category => nil, :commit => "Search+Jobs") %>

							</div>
						</div>
						<div class="col-md-2 text-center">
							<div class="job-cont-details"><div><%= @proposals.count %></div> <div>Proposals</div></div>
						</div>
						<div class="col-md-2 text-center">
							<div class="job-cont-details"><div>Budget</div><span class="job-price"><%= number_to_currency(@job.budget, precision: 0) %></span></div>
						</div>
						<div class="col-md-3">
						</div>


						<div class="col-md-2">
							<div class="job-cont-details text-center">
							<% if @job.open == true %>
								<div class="job-open">OPEN</div>
							<% else %>
								<div class="job-closed">CLOSED</div>
							<% end %>
							</div>
						</div>
					</div>
				</div>

				<% if @awarded_proposal.present? %>
					<div class="job-cont-award">
						<h2><span class="glyphicon glyphicon-ok-sign green"></span> Awarded Job</h2>
						<div class="row">
							<div class="col-md-2">
							<%= image_tag @awarded_proposal.user.avatar.url(:thumb), size: "80" %>
							</div>
							<div class="col-md-7">
								<div class="job-cont-award-name"><%= link_to @awarded_proposal.user.firstname + " " + @awarded_proposal.user.firstname, trady_path(@awarded_proposal.user.id) %></div>
								<div class="job-cont-award-sub"><%= time_ago_in_words(@awarded_proposal.created_at) + " ago" %></div>
								<div class="job-cont-award-desc">
								<%= @awarded_proposal.description %>
								</div><br />
								
							</div>
							<div class="col-md-3">
								<div class="job-cont-award-price">
									<%= number_to_currency(@awarded_proposal.bid, precision: 0) %><br /> <small>per hour</small>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
				<div class="row">
					<div class="col-md-12">
						<% if @job.user != current_user && @job.open == true  %>
						<a data-toggle="modal" data-target="#myModal">	
							<div class="job-add-prop">
								<div class="job-add-prop-inner">
									<div class="job-add-prop-inner-small">There are proposals <%= @proposals.count %> so far,<br /> click here to add your proposal </div><div class="job-add-prop-inner-large"><span class="glyphicon glyphicon-plus-sign"></span></div>
								</div>			
							</div>
						</a>
						<div class="col-md-12 proposal-count">
						<%= render 'jobs/proposal_loop' %>
						</div>
						<% elsif @job.user != current_user && @job.open == false %>
						<div class="col-md-12 proposal-count">
							<div class="text-center proposal-next-time">
								<h4>This is what you were up against</h4>
								<%= link_to "How can you improve next time?", root_path, class: "btn btn-success" %>
							</div>
							<%= render 'jobs/proposal_loop' %>
						</div>
						<% else %>
						<div class="col-md-12 proposal-count">
							<% if @proposals.count == 0 %>
							<h3>There are currently no proposals on this job</h3>
							<% end %>
							<%= render 'jobs/proposal_loop' %>
						</div>
						<% end %>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade add-prop" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span class="modal-title">Add your proposal</span>
      </div>
      <div class="modal-body">
       <div class="row">
	<div class="col-md-12 sub-prop">
		<%= form_for :proposal, url: job_proposals_path(@job) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :owner_id, value: @job.user.id %>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon">$</div>
						<%= f.text_field :bid, class: "form-control", placeholder: "What is your bid?" %>
					<div class="input-group-addon"> per hour</div>
				</div>				
			 </div>
		<div class="form-group">
		<%= f.text_area :description, rows: 5, class: "form-control", placeholder: "What's your sales pitch?" %>
		</div>
		<%= f.submit "Submit Sales Pitch", class: "btn btn-success btn-lg btn-block" %>
		<% end %>
	</div>
</div>

      </div>
    </div>

  </div>
</div>