<div class="row grey_bg">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 signupform">
    <div class="signupform-h1 text-center"><h1>Sign up for free today!</h1></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>



      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Make it attractive" data-content="This is the first thing tradies will see. So make it descriptive" data-trigger="focus" >
         <%= f.email_field :email, class: "form-control addjob-mtop", placeholder: "email address", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Make it attractive" data-content="This is the first thing tradies will see. So make it descriptive" data-trigger="focus" >
         <%= f.password_field :password, autocomplete: "off", class: "form-control addjob-mtop", placeholder: "Password", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <div class="input-group" data-toggle="popover" title="Make it attractive" data-content="This is the first thing tradies will see. So make it descriptive" data-trigger="focus" >
         <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control addjob-mtop", placeholder: "Repeat Password", id: "validate-text", required: true %>
         <span class="input-group-addon danger"><span class="glyphicon glyphicon-pencil"></span></span>
        </div>
      </div>

<div class="marg-auto">  
<h3>I want to</h3>     
    <div class="btn-group" data-toggle="buttons">   
      <label class="btn btn-signup active btn-lg">
        <%= f.radio_button :is_tradie, "0", autocomplete: "off", checked: "checked" %>
        HIRE
      </label>

      <label class="btn btn-signup btn-lg ">
      <%= f.radio_button :is_tradie, "1", autocomplete: "off" %>
        WORK
      </label>
    </div>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="actions">
        <%= f.submit "Sign up", class: "btn-block btn btn-success btn-lg" %>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
    <% end %>
    <div class="text-center signup-terms">
By registering you confirm that you accept the <br /><a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>