<div class="row add-job-box fixed">
  <div class="container">
    <div class="row" id="pwd-container">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <section class="login-form">
        
        <%= form_for :job, html: {role: "login"} do |f| %>
           <div class="row">
            <div class="col-md-8 text-left">
               <%= link_to "#{image_tag("https://s3.amazonaws.com/besttradies/besttradies.png", :size => "150x52")}".html_safe %>
            </div>
            <div class="col-md-4">
              <span class="pull-right closeblurjob glyphicon glyphicon-remove-sign"></span>
            </div>
          </div>

                  <div class="new-job-p1">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <%= f.text_field :name, class: "form-control", placeholder: "Job Title" %>
                      </div>
                      <div class="col-md-12 form-group">
                        <%= f.text_area :description, class: "form-control", placeholder: "Describe your job" %>
                      </div>
                      <div class="col-md-12 form-group">
                        <%= f.text_area :skill_list, rows:3, class: "form-control", placeholder: "Enter any requirements seperated by a comma. Eg: white card, abn, own tools" %>
                      </div>
                      <div class= "btn btn-primary new-job-p1-next">NEXT</div>
                    </div>
                  </div>

                  <div class="new-job-p2">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), {}, class: "form-control", placeholder: "Where is the job?" %>
                      </div>
                      <div class="col-md-12 form-group">
                        <%= f.text_field :location, class: "form-control", placeholder: "Location eg: Brisbane" %>
                      </div>

                      <div class="col-md-12 form-group">
                         <div class="input-group">
                          <div class="input-group-addon">$</div>
                            <%= f.text_field :budget, class: "form-control", placeholder: "What is your budget?" %>
                          <div class="input-group-addon">.00</div>
                         </div>
                      </div>

                      <div class="col-md-12 form-group">
                        <%= f.submit class: "btn btn_primary input-lg" %>
                      </div>
                    </div>
                  </div>
        <% end %>

        </section>  
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</div>
