<div class="mail-box">
 	<div class="row">
                  <div class="col-md-3 col-sm-12 nopadding">
                      <div class="user-head">
                          <a class="inbox-avatar" href="javascript:;">
                              <%= image_tag current_user.avatar.url(:medium), width: "60", height: "60" %>
                          </a>
                          <div class="user-name">
                              <h5><%= link_to current_user.company, trady_path(current_user) %></h5>
                          </div>
                          <a class="mail-dropdown pull-right" href="<%= edit_user_registration_path %>">
                              <i class="glyphicon glyphicon-cog"></i>
                          </a>
                      </div>
                     
                      <%= link_to "New Conversation", new_conversation_path, class: "btn btn-compose" %>

                     
                      <ul class="inbox-nav inbox-divider">
                          <li class="active">
                              <li><%= link_to '<i class="glyphicon glyphicon-envelope"></i> Conversation Dashboard'.html_safe, inbox_conversations_path %>

                          </li>
                         <li><%= link_to '<i class="glyphicon glyphicon-wrench"></i> Connected Tradies'.html_safe, mytradies_path %></li>
                          <li><%= link_to '<i class="glyphicon glyphicon-user"></i> Connected Employers'.html_safe, myemployers_path %></li>
                          <li><%= link_to '<i class="glyphicon glyphicon-folder-open"></i> Open Jobs'.html_safe, myjobs_path %></li>
                          <li><%= link_to '<i class="glyphicon glyphicon-folder-close"></i> Closed Jobs'.html_safe, myclosedjobs_path %></li>
                          <li><%= link_to '<i class="glyphicon glyphicon-star"></i> Awarded Jobs'.html_safe, myawards_path %></li>
                          
                          
                      </ul>
                      

                      

                  </div>