<!DOCTYPE html>
<html>
<head>
  <title>Besttradies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="status_bg">
	<div class="container">
		<div class="status_bg_inner">
			<div class="row">

				<div class="col-md-2">
					<div class="text-center status_cell">
					<div class="status_number"><%= @jobcount %></div>
					<h2>Jobs You Have Open</h2>
					</div>
				</div>

					<div class="col-md-2">
					<div class="text-center status_cell">
					<div class="status_number"><%= @proposalopen %></div>
					<h2>Your Open Proposals</h2>
					</div>
				</div>
				

				<div class="col-md-2">
					<div class="text-center status_cell">
					<div class="status_number"><%= @proposalopentotal %></div>
					<h2>Total Open Proposals</h2>
					</div>
				</div>
				
			

				<div class="col-md-2">
					<div class="text-center status_cell">
					<div class="status_number"><%= @totaljobs %></div>
					<h2>Total Jobs Posted</h2>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="text-center status_cell">
					<div class="status_number"><%= @proposalreceived %></div>
					<h2>Total Proposals Received</h2>
					</div>
				</div>


			</div>

			<div class="row">
				
				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number"><%= @proposalcount %></div>
					<h2>Proposals You Submitted</h2>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number"><%= @jobawards %></div>
					<h2>Jobs You Have Won</h2>
					</div>
				</div>

				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number"><%= number_to_percentage(@winrate, precision: 1) %></div>
					<h2>Win Rate</h2>
					</div>
				</div>

			</div>


		</div>
		<div class="status_bg_close text-center">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
		</div>
	</div>
</div>



<%= render 'layouts/headers' %>
<%= render 'layouts/loginbox' %>
<%= render 'jobs/new' %>
<%= yield %>

</body>
</html>
