<!DOCTYPE html>
<html>
<head>
  <title>Besttradies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="status_bg">
	<div class="container">
		<div class="status_bg_inner">
			<div class="row">
				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number">100</div>
					<h2>Jobs Open</h2>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number">100</div>
					<h2>Jobs Open</h2>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="text-center status_cell">
					<div class="status_number">100</div>
					<h2>Jobs Open</h2>
					</div>
				</div>

			</div>
		</div>
		<div class="status_bg_close text-center">
			<span class="glyphicon glyphicon-circle-arrow-up"></span>
		</div>
	</div>
</div>



<%= render 'layouts/headers' %>
<%= render 'layouts/loginbox' %>
<%= render 'jobs/new' %>
<%= yield %>

</body>
</html>
