<!DOCTYPE html>
<html>
<head>
  <title>Besttradies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/headers' %>
<%= render 'layouts/loginbox' %>
<%= render 'jobs/new' %>

<h1>Activities</h1>

<% @activities.each do |activity| %>

	<% if activity.trackable %>
		<%= link_to activity.owner_id, activity.trackable.job %> submitted a proposal for <%= link_to activity.trackable.job.name, activity.trackable.job %>
		<%= link_to activity.owner_id, activity.trackable.job %> submitted a proposal for <%= link_to activity.trackable.job.name, activity.trackable.job %>

		<hr />
	<% else %>
	  which has since been removed
	<% end %>

<% end %>

<%= yield %>

</body>
</html>
