<!DOCTYPE html>
<html>
<head>
  <title>Besttradies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="hmenu">
  <%= render 'layouts/registration_items' %>
  <%= render 'layouts/login_items' %>
  <%= link_to "Post a Job", new_job_path %>
  <div class="container">
	<div class="row">
		<div class="col-md-12 form-group">
		<%= form_tag search_jobs_path, method: :get do |f| %>
			<%= text_field_tag :search, nil, placeholder: "Search Jobs Eg: Plumber", class: "form-control" %>
			<%= submit_tag "Search Jobs", class: "btn btn-primary" %>
		<% end %>
		</div>
	</div>
</ul>
<%= yield %>

</body>
</html>
